<div class="mockup-code">
  <pre data-prefix="1"><code>start_app</code></pre>
  <pre data-prefix="2" class="bg-warning text-warning-content"><code>error_detected!</code></pre>
  <pre data-prefix="3"><code>if_no_camera: please_connect_camera()</code></pre>
  <pre data-prefix="4"><code>if_error_persistent: restart_app()</code></pre>
  <pre data-prefix="5"><code>if_app_crashes: report_issue()</code></pre>
  <pre data-prefix=">" class="text-warning"><code>for_assistance: vinlemon0@gmail.com</code></pre>
  <pre data-prefix="6"><code>check_for_updates: ensure_latest_version()</code></pre>
  <pre data-prefix="7"><code>// TODO: usage_tips: refer_to_doc_site()</code></pre>
</div>
